<% provide(:title,t(".about")) %>
<h1><%= t ".about" %></h1>
<p>
  <%= t(".text",
    link_home: link_to(t(".rubyonrails_href"),"https://www.railstutorial.org/"),
    link_home2: link_to(t(".book"),"https://www.railstutorial.org/book"),
    link_home3: link_to(t(".scree"),"http://screencasts.railstutorial.org/"),
    link_home4: link_to(t(".rubyonrails"),"http://rubyonrails.org/")
    ).html_safe %>
</p>

