<h1><%= t ".sample" %></h1>
<p>
  <%= t(".text",
  link_home: link_to(t(".rubyonrails_href"), "https://www.railstutorial.org/")).html_safe %>
</p>

<%= link_to(t(".english"),locale:"en") %>
<%= link_to(t(".vietnamese"),locale:"vi") %>
